body {
    background-image: url("https://media.istockphoto.com/id/1176654815/vector/car-service-seamless-pattern-with-thin-line-icons.jpg?s=612x612&w=0&k=20&c=UwuQ3KgfvIFnR6pcUZrDYWNPJPsF6bguULwOT0nKeYA=");
    
}

.carousel-caption{
    color:white;
    background-color:rgba(128, 128, 128, 0.774);
    border-radius: 20px ;
    width: 30vw;
    margin: auto;
}

.card-img-top{
    width:100%;
    height:20vw;
    object-fit:cover;
}
.card-text{
    font-family:Arial
}

.container-fluid{
    padding-left: 0%;
    padding-right: 0%;
    margin-left: auto;
    margin-right: auto;
}

.carousel-item{
    height:40vw;
}

.carousel-item img{
    height:auto;
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    margin: 0 auto;
}

.custom-container{
    text-align: center;
    background-color: #e73d3d;
    border-radius: 20px;
    width: 400px; 
    height: 45px; 
    margin: auto;
    margin-bottom: 50px;
    margin-top: 20px;
  }
  
  .custom-card-img{
    width: 100%;
    height: 200px;
    object-fit: cover; 
  }
  
  .custom-card {
    height: 100%;
    box-shadow: 6px 6px rgba(61, 0, 0, 0.479);
  }
  
  .custom-card .card-title,
  .custom-card .card-text {
    text-align: center;
  }
  
  .arreglo-motor {
    background-color: #e73d3d;
    border: 1px solid black; 
    width: 80%; 
    max-width: 1000px; 
    margin: 0 auto; 
    padding: 0;
    border-radius: 20px;
    overflow: hidden;
  }

  .arreglo-motor-img {
    width: 100%;
    height: 100%;
  }

.btn{
    background-color: #9e1212;
    border-color:black;
    color: white;
}

.form-label{
    color:rgb(160, 160, 160);
    font-style: oblique;
}

.modal-header {
  background-color: black;
  color: white;
  border-bottom: none;
  padding-bottom: 15px; 
}

.modal-body {
  background-color: #e73d3d;
}

.modal-footer {
  background-color: black;
  color: white; 
  border-top: none;
}

